@model List<MyPortfolio_MVC.Models.TblEducation>


 
<div class="column lg-6 tab-12">

    <h2 class="text-pretitle" data-animate-el>
        Eğitim Hayatım 
    </h2>

    <div class="timeline" data-animate-el>

        @foreach (var item in Model)
        {
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <h4 class="timeline__title">
                        @item.SchollName
                    </h4>
                    <h5 class="timeline__meta">@item.Department</h5>
                    <p class="timeline__timeframe">@item.StartDate.ToShortDateString() - @(!item.EndDate.HasValue ? "Devam Ediyor" : item.EndDate?.ToString("d"))</p>
                </div>
                <div class="timeline__desc">
                    <p>@item.Description</p>
                </div>
            </div>
        }





    </div> <!-- end timeline -->

</div>
