@model List<MyPortfolio_MVC.Models.TblProject>
<section id="works" class="s-works target-section">


    <div class="row works-portfolio">

        <div class="column lg-12" data-animate-block>

            <h2 class="text-pretitle" data-animate-el>
                Projelerim
            </h2>
            <p class="h1" data-animate-el>
                Daha önce yapmış olduğum projelere göz atın
            </p>

            <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                @{
                    int count1 = 0;
                    int count2 = 0;

                }

                @foreach (var item in Model)
                {

                    count1++;
                    <li class="folio-list__item column" data-animate-el>
                        <a class="folio-list__item-link" href="#modal-@count1">
                            <div class="folio-list__item-pic">
                                <img src="@item.ImageUrl"
                                     srcset="@item.ImageUrl 1x, @item.ImageUrl 2x" alt="">
                            </div>

                            <div class="folio-list__item-text">
                                <div class="folio-list__item-cat">
                                    @item.TblCategory.Name
                                </div>
                                <div class="folio-list__item-title">
                                    @item.Name
                                </div>
                            </div>
                        </a>
                    </li>
 <!--end folio-list__item -->
                }

               <!--end folio-list__item -->

            </ul> <!-- end folio-list -->

        </div>


        <!-- end modal -->

        @foreach (var item in Model)
                {

                    count2++;
            <div id="modal-@count2" hidden>
                <div class="modal-popup">
                    <img src="@item.ImageUrl" alt="">

                    <div class="modal-popup__desc">
                        <h5>@item.Name</h5>
                        <p>@item.Description</p>
                        <ul class="modal-popup__cat">
                            <li>@item.TblCategory.Name</li>
                        </ul>
                    </div>

                    <a href="@item.GithubUrl" target="_blank" class="modal-popup__details">Github Linki</a>
                </div>
            </div>
        }

    </div> <!-- end works-portfolio -->


    <div class="row testimonials">
        <div class="column lg-12" data-animate-block>

            <div class="swiper-container testimonial-slider" data-animate-el>

                <div class="swiper-wrapper">

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Tim Cook</strong>
                                <span>CEO, Apple</span>
                            </cite>
                        </div>
                        <p>
                            Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem.
                            Explicabo a quaerat sint autem dolore ducimus ut consequatur neque.  Nisi dolores quaerat fuga rem nihil nostrum.
                            Laudantium quia consequatur molestias delectus culpa.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-03.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Sundar Pichai</strong>
                                <span>CEO, Google</span>
                            </cite>
                        </div>
                        <p>
                            Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                            Nisi eaque consequatur. Voluptatem dignissimos ut ducimus accusantium perspiciatis.
                            Quasi voluptas eius distinctio. Atque eos maxime.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Satya Nadella</strong>
                                <span>CEO, Microsoft</span>
                            </cite>
                        </div>
                        <p>
                            Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                            Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                            Voluptatem dignissimos ut.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-06.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Jeff Bezos</strong>
                                <span>CEO, Amazon</span>
                            </cite>
                        </div>
                        <p>
                            Nunc interdum lacus sit amet orci. Vestibulum dapibus nunc ac augue. Fusce vel dui. In ac felis
                            quis tortor malesuada pretium. Curabitur vestibulum aliquam leo. Qui sed at corrupti expedita voluptas odit.
                            Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                </div> <!-- end swiper-wrapper -->

                <div class="swiper-pagination"></div>

            </div> <!-- end swiper-container -->

        </div> <!-- end column -->
    </div> <!-- end row testimonials -->

</section> <!-- end s-works -->